Repository pytorch/xla, pull requests merged in 2020-09, with the labels that each got.

#2453 Updates div to perform true division in pt/xla
  test/cpp/test_aten_xla_tensor.cpp
  test/pytorch_test_base.py
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/aten_xla_type.h
  torch_xla/csrc/tensor.h
  torch_xla/csrc/tensor_methods.cpp
Labels: REMOVE_TORCH_PIN

#2501 Asinh, Acosh, Atanh lowering
  scripts/gen.py
  test/cpp/test_aten_xla_tensor.cpp
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/aten_xla_type.h
  torch_xla/csrc/ops/ops.cpp
  torch_xla/csrc/ops/ops.h
  torch_xla/csrc/tensor.h
  torch_xla/csrc/tensor_methods.cpp
Labels: op lowering

#2489 Remove override for native_group_norm since we move the composite ker…
  scripts/gen.py
  test/cpp/test_aten_xla_tensor.cpp
  torch_xla/csrc/aten_tensor_ops.cpp
  torch_xla/csrc/aten_tensor_ops.h
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/aten_xla_type.h
Labels: REMOVE_TORCH_PIN

#2496 Add beta to the smooth_l1_loss lowering
  test/cpp/test_aten_xla_tensor.cpp
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/aten_xla_type.h
  torch_xla/csrc/tensor.h
  torch_xla/csrc/tensor_methods.cpp
  torch_xla/csrc/tensor_ops.cpp
  torch_xla/csrc/tensor_ops.h
Labels: REMOVE_TORCH_PIN, op lowering
