Repository pytorch/xla, pull requests merged in 2021-05, with the labels that each got.

#2900 Clamp min max
  test/cpp/test_aten_xla_tensor.cpp
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/aten_xla_type.h
  torch_xla/csrc/tensor.h
  torch_xla/csrc/tensor_methods.cpp
Labels: REMOVE_TORCH_PIN, op lowering

#2929 Update clamp with tensor to use min max directly
  test/pytorch_test_base.py
  torch_xla/csrc/tensor_methods.cpp
Labels: op lowering

#2891 Add std abd var lowering with correction
  test/cpp/test_aten_xla_tensor.cpp
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/aten_xla_type.h
  torch_xla/csrc/ops/std.cpp
  torch_xla/csrc/ops/std.h
  torch_xla/csrc/ops/var.cpp
  torch_xla/csrc/ops/var.h
  torch_xla/csrc/reduction.cpp
  torch_xla/csrc/reduction.h
  torch_xla/csrc/tensor.h
  torch_xla/csrc/tensor_methods.cpp
Labels: REMOVE_TORCH_PIN, op lowering

#2953 std::string->c10::string_view
  test/cpp/test_aten_xla_tensor.cpp
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/tensor.h
  torch_xla/csrc/tensor_methods.cpp
Labels: REMOVE_TORCH_PIN

#2944 Make codegen backend agnostic minus fallbacks
  .gitignore
  OP_LOWERING_GUIDE.md
  test/cpp/torch_xla_test.cpp
  torch_xla/__init__.py
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/init_python_bindings.cpp
Labels: REMOVE_TORCH_PIN
