Repository pytorch/xla, pull requests merged in 2021-11, with the labels that each got.

#3190 skip unsupported leaky_relu_ test
  test/pytorch_test_base.py
Labels: REMOVE_TORCH_PIN

#3188 Advance index
  torch_xla/csrc/aten_xla_bridge.cpp
  torch_xla/csrc/aten_xla_bridge.h
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/ops/index_ops.cpp
Labels: bug, REMOVE_TORCH_PIN

#3195 Silu backward
  test/cpp/test_aten_xla_tensor.cpp
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/elementwise.cpp
  torch_xla/csrc/elementwise.h
  torch_xla/csrc/ops/ops.cpp
  torch_xla/csrc/ops/ops.h
  torch_xla/csrc/tensor.h
  torch_xla/csrc/tensor_methods.cpp
  xla_native_functions.yaml
Labels: op lowering, REMOVE_TORCH_PIN
