Repository pytorch/xla, pull requests merged in 2023-06, with the labels that each got.

#5091 [SPMD] API for getting attributes for global devices
  test/pjrt/test_experimental_pjrt_tpu.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/experimental/pjrt.py
Labels: SPMD

#5111 Fix reference to `ComputationClient::Get()`
  torch_xla/csrc/init_python_bindings.cpp
Labels: runtime

#5110 [SPMD] index local shards correctly in replication
  third_party/xla_client/pjrt_computation_client.cc
  torch_xla/csrc/xla_sharding_util.cpp
Labels: SPMD

#4788 [SPMD] Support partial replication.
  test/spmd/test_xla_sharding.py
  third_party/xla_client/pjrt_computation_client.cc
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#5117 [OpenXLA] Delete unused `tensor_shape.h` dep
  torch_xla/csrc/convolution.cpp
Labels: DO_NOT_MERGE_YET, DO_NOT_REVIEW_YET, openxla

#5119 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#5047 Add load_local_shards to XLAShardedTensor
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/tensor_util.cpp
  torch_xla/csrc/tensor_util.h
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/experimental/xla_sharded_tensor.py
Labels: SPMD

#5011 Move PJRT Python APIs out of `torch_xla.experimental.*`
  test/pjrt/test_ddp.py
  test/pjrt/test_internal_tpu.py
  test/pjrt/test_mesh_service.py
  test/pjrt/test_metrics.py
  test/pjrt/test_profiler.py
  test/pjrt/test_runtime.py
  test/pjrt/test_runtime_gpu.py
  test/pjrt/test_runtime_multi_cpu.py
  test/pjrt/test_runtime_tpu.py
  test/run_tests.sh
  test/spmd/test_train_spmd_imagenet.py
  test/spmd/test_xla_sharding_base.py
  test/test_fsdp_auto_wrap.py
  test/test_operations.py
  test/test_torch_distributed_xla_backend.py
  test/test_train_mp_imagenet.py
  test/test_train_mp_mnist.py
  test/test_zero1.py
  test/tpu/xla_test_job.yaml
  torch_xla/_internal/__init__.py
  torch_xla/_internal/gpu.py
  torch_xla/_internal/pjrt.py
  torch_xla/_internal/tpu.py
  torch_xla/core/xla_model.py
  torch_xla/distributed/xla_dist.py
  torch_xla/distributed/xla_multiprocessing.py
  torch_xla/experimental/deprecation.py
  torch_xla/experimental/gpu.py
  torch_xla/experimental/pjrt.py
  torch_xla/experimental/pjrt_backend.py
  torch_xla/experimental/tpu.py
  torch_xla/experimental/xla_sharding.py
  torch_xla/runtime.py
Labels: runtime

#5093 [OpenXLA] Delete `"@org_tensorflow//tensorflow/core/kernels:data_flow" deps
  third_party/xla_client/BUILD
Labels: openxla

#5114 Add option to remove XRT from the build
  .bazelrc
  BUILD
  WORKSPACE
  setup.py
  tf_patches/profiler_trace.diff
  third_party/xla_client/BUILD
  third_party/xla_client/profiler.cc
  third_party/xla_client/profiler.h
  third_party/xla_client/runtime.cc
  torch_xla/csrc/BUILD
  torch_xla/csrc/init_python_bindings.cpp
Labels: runtime

#5124 [OpenXLA] Delete unused `@org_tensorflow//tensorflow/core:protos_all_cc` dep from TensorFlow
  third_party/xla_client/BUILD
  torch_xla/csrc/BUILD
Labels: openxla

#5139 [SPMD] Set replicated output false
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/xla_sharding_util.h
Labels: SPMD

#5132 Remove mesh_client.h from PJRT computation client
  third_party/xla_client/BUILD
  third_party/xla_client/computation_client.cc
Labels: runtime

#5135 Disable XRT in default CI jobs
  .bazelrc
  .circleci/common.sh
  .circleci/test_xrt.sh
  .github/workflows/_build.yml
  .github/workflows/_test.yml
  .github/workflows/build_and_test.yml
  infra/ansible/config/env.yaml
  infra/ansible/config/vars.yaml
  infra/tpu-pytorch/test_triggers.tf
  setup.py
  test/run_tests.sh
  third_party/xla_client/BUILD
  third_party/xla_client/runtime.cc
Labels: runtime

#5149 Set replicated output false
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#5128 Add utility functions for distributed checkpointing
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/experimental/xla_sharded_tensor.py
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#5153 [OpenXLA] Replace `tf_cc_shared_object` with `cc_binary`
  BUILD
  third_party/xla_client/BUILD
Labels: DO_NOT_MERGE_YET, DO_NOT_REVIEW_YET, openxla

#5166 Refine the comment for TensorCollectionBarrier in SyncTensorsGraphInt…
  torch_xla/csrc/xla_graph_executor.cpp
Labels: ltc

#5171 [OpenXLA] Replace `with_tpu_support` from TSL
  bazel/tensorflow.bzl
Labels: DO_NOT_MERGE_YET, DO_NOT_REVIEW_YET, openxla

#5175 [OpenXLA] Delete `core:lib` in `libxla_computation_client.so`
  torch_xla/csrc/runtime/BUILD
Labels: openxla

#5176 [OpenXLA] Delete `core:lib` in `torch_xla/csrc/BUILD`
  torch_xla/csrc/BUILD
Labels: openxla

#5167 [StableHLO] Add MLIR optimization pass to remove Tuple outputs in MHLO/StableHLO
  torch_xla/core/xla_model.py
  torch_xla/csrc/runtime/stablehlo_helper.cc
Labels: stablehlo

#5101 Support output param sharding in dynamo + spmd
  test/run_tests.sh
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
Labels: dynamo

#5177 Make sure dynamo give us different graph when input shape changes
  test/dynamo/test_dynamo.py
Labels: dynamo

#5170 Implement SPMDSavePlanner to take distributed checkpoints
  test/run_tests.sh
  test/spmd/test_xla_distributed_checkpoint.py
  torch_xla/experimental/_distributed_checkpoint_helpers.py
  torch_xla/experimental/distributed_checkpoint.py
Labels: SPMD

#5190 [OpenXLA] Reimplement Convolution with XLA::Shape
  torch_xla/csrc/BUILD
  torch_xla/csrc/convolution.cpp
  torch_xla/csrc/convolution.h
  torch_xla/csrc/convolution_helper.cpp
  torch_xla/csrc/convolution_helper.h
Labels: openxla

#5165 [OpenXLA] Update `ptxla_cc_test`'s definition using `xla_cc_test`
  WORKSPACE
  bazel/rules_def.bzl
  tf_patches/xla_bzl.diff
Labels: openxla

#5068 Don't let autograd initialize the ComputationClient.
  torch_xla/csrc/tensor_impl.cpp
Labels: runtime

#5203 Enable source line info in StableHLO
  docs/source/index.rst
  test/run_tests.sh
  test/stablehlo/test_stablehlo_dump.py
  torch_xla/core/xla_model.py
  torch_xla/csrc/runtime/stablehlo_helper.cc
Labels: stablehlo

#5234 Remove legacy file reading APIs
  contrib/colab/cached-dataset.ipynb
  docs/source/index.rst
  scripts/gcsfs_bench.py
  test/gcsfs_test.py
  torch_xla/csrc/BUILD
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/record_reader.cc
  torch_xla/csrc/runtime/record_reader.h
  torch_xla/utils/cached_dataset.py
  torch_xla/utils/gcsfs.py
Labels: cleanup

#5240 Delete XRT from the main branch
  configuration.yaml
  setup.py
  test/allreduce_torchrun.py
  test/cpp/BUILD
  test/cpp/test_op_by_op_executor.cpp
  test/pjrt/test_runtime.py
  test/run_tests.sh
  test/test_allreduce_torchrun.py
  test/test_xla_dist.py
  torch_xla/__init__.py
  torch_xla/core/_xrt_run_server.py
  torch_xla/core/xla_env_vars.py
  torch_xla/core/xla_model.py
  torch_xla/core/xrt_run_server.py
  torch_xla/csrc/BUILD
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/env_vars.cc
  torch_xla/csrc/runtime/mesh_service.cc
  torch_xla/csrc/runtime/mesh_service.h
  torch_xla/csrc/runtime/mesh_service.proto
  torch_xla/csrc/runtime/runtime.cc
  torch_xla/csrc/runtime/triggered_task.cc
  torch_xla/csrc/runtime/triggered_task.h
  torch_xla/csrc/runtime/xrt_computation_client.cc
  torch_xla/csrc/runtime/xrt_computation_client.h
  torch_xla/csrc/runtime/xrt_local_service.cc
  torch_xla/csrc/runtime/xrt_local_service.h
  torch_xla/csrc/runtime/xrt_session.cc
  torch_xla/csrc/runtime/xrt_session.h
  torch_xla/csrc/runtime/xrt_session_cache.cc
  torch_xla/csrc/runtime/xrt_session_cache.h
  torch_xla/distributed/_xrt_run_server.py
  torch_xla/distributed/cluster.py
  torch_xla/distributed/worker.py
  torch_xla/distributed/xla_backend.py
  torch_xla/distributed/xla_dist.py
  torch_xla/distributed/xla_multiprocessing.py
  torch_xla/distributed/xrt_init.py
  torch_xla/runtime.py
Labels: DO_NOT_MERGE, runtime

#5256 Jack cao g/fix spmd buff is null
  test/spmd/test_xla_virtual_device.py
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/runtime/pjrt_computation_client.h
  torch_xla/csrc/tensor_util.cpp
Labels: SPMD

#5265 Add ToString method for both PjrtData and PjrtShardedData
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/runtime/computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client.h
Labels: SPMD

#5266 Update Sharded graph HLO dumping
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/ir_dump_util.cpp
Labels: SPMD

#5233 Enable PjRt Client Compilation with StableHLO
  configuration.yaml
  test/run_tests.sh
  test/stablehlo/test_stablehlo_compile.py
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/computation_client.cc
  torch_xla/csrc/runtime/computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/runtime/stablehlo_helper.cc
  torch_xla/csrc/runtime/stablehlo_helper.h
Labels: stablehlo

#5271 Make TPU detection more robust
  torch_xla/runtime.py
Labels: runtime
