Repository pytorch/xla, pull requests merged in 2023-10, with the labels that each got.

#5662 Print dynamo fallback ops for pt_xla_debug flag
  torch_xla/core/dynamo_bridge.py
Labels: dynamo

#5653 Make `ComputationClient::Data` inherit from `torch::lazy::BackendData`
  test/cpp/cpp_test_util.cpp
  test/cpp/test_aten_xla_tensor_5.cpp
  test/cpp/test_aten_xla_tensor_6.cpp
  test/cpp/test_replication.cpp
  test/cpp/test_xla_backend_intf.cpp
  test/cpp/test_xla_sharding.cpp
  test/cpp/torch_xla_test.cpp
  torch_xla/csrc/BUILD
  torch_xla/csrc/aten_xla_bridge.cpp
  torch_xla/csrc/aten_xla_bridge.h
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/convert_ops.cpp
  torch_xla/csrc/cross_replica_reduces.cpp
  torch_xla/csrc/data_ops.cpp
  torch_xla/csrc/debug_util.cpp
  torch_xla/csrc/device.cpp
  torch_xla/csrc/device.h
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/ir_builder.h
  torch_xla/csrc/lowering_context.cpp
  torch_xla/csrc/ops/device_data.cpp
  torch_xla/csrc/ops/dynamic_ir.cpp
  torch_xla/csrc/ops/max_unpool_nd.cpp
  torch_xla/csrc/random.cpp
  torch_xla/csrc/resize_ops.cpp
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/runtime/pjrt_computation_client.h
  torch_xla/csrc/runtime/runtime.cc
  torch_xla/csrc/tensor.cpp
  torch_xla/csrc/tensor.h
  torch_xla/csrc/tensor_impl.cpp
  torch_xla/csrc/tensor_util.cpp
  torch_xla/csrc/tensor_util.h
  torch_xla/csrc/unwrap_data.cpp
  torch_xla/csrc/unwrap_data.h
  torch_xla/csrc/xla_backend_impl.cpp
  torch_xla/csrc/xla_data.cpp
  torch_xla/csrc/xla_data.h
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_sharding_util.cpp
Labels: runtime

#5654 Expose replica_id in XLAShard
  test/cpp/test_xla_sharding.cpp
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/experimental/distributed_checkpoint.py
  torch_xla/experimental/xla_sharded_tensor.py
Labels: SPMD

#5664 add codegen for masked_fill
  codegen/xla_native_functions.yaml
  test/cpp/test_aten_xla_tensor_4.cpp
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/data_ops.cpp
  torch_xla/csrc/data_ops.h
  torch_xla/csrc/ops/masked_fill.cpp
  torch_xla/csrc/ops/masked_fill.h
  torch_xla/csrc/ops/ops_lower_fn.cpp
  torch_xla/csrc/ops/ops_xla_shape_fn.cpp
  torch_xla/csrc/ops/ops_xla_shape_fn.h
  torch_xla/csrc/tensor_methods.cpp
  torch_xla/csrc/tensor_methods.h
Labels: codegen

#5630 Add API to assemble CPU shards to a sharded tensor
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#5696 Conditionally set default TPU settings in `__init__.py`
  torch_xla/__init__.py
Labels: runtime

#5290 Update CI image with develop docker image
  .circleci/build.sh
  .circleci/common.sh
  .circleci/docker/Dockerfile
  .circleci/docker/install_conda.sh
  .circleci/docker/install_valgrind.sh
  .circleci/test.sh
  .github/workflows/_build.yml
  .github/workflows/_coverage.yml
  .github/workflows/_docs.yml
  .github/workflows/_test.yml
  .github/workflows/build_and_test.yml
  .github/workflows/build_and_test_xrt.yml
  .kokoro/Dockerfile
Labels: CI

#5693 Support synchronous saving and loading in CheckpointManager
  test/spmd/test_xla_distributed_checkpoint.py
  torch_xla/experimental/distributed_checkpoint/manager.py
Labels: SPMD

#5700 Reduce unnecessary tensor allocation in Adam and AdamW
  torch_xla/amp/syncfree/adam.py
  torch_xla/amp/syncfree/adamw.py
  torch_xla/csrc/ops/adam_optimizer_step.cpp
  torch_xla/csrc/tensor_methods.cpp
  torch_xla/csrc/xla_lower_util.cpp
Labels: xla:gpu

#5724 add op lowering for _prelu_kernel_backward
  codegen/xla_native_functions.yaml
  test/cpp/test_aten_xla_tensor_1.cpp
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/elementwise.cpp
  torch_xla/csrc/elementwise.h
  torch_xla/csrc/ops/ops.cpp
  torch_xla/csrc/ops/ops.h
  torch_xla/csrc/tensor_methods.cpp
  torch_xla/csrc/tensor_methods.h
Labels: op lowering

#5710 Patch RNG for better memory utilization in dropout layers
  test/test_operations_hlo.py
  torch_xla/csrc/random.cpp
Labels: perf

#5735 Add DTensor API integration section in spmd.md
  docs/spmd.md
Labels: SPMD, documentation

#5750 Destroy the ComputationClient when the program exits
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/runtime/computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client.h
  torch_xla/csrc/runtime/runtime.cc
Labels: runtime
