Repository pytorch/xla, pull requests merged in 2023-08, with the labels that each got.

#5385 clear pending ir should also clear the cc op tokens
  torch_xla/csrc/init_python_bindings.cpp
Labels: dynamo

#5309 Add support for in-place ops with self tensors in dynamo bridge
  test/dynamo/test_dynamo.py
  torch_xla/core/dynamo_bridge.py
Labels: dynamo

#5387 Run single host multi GPU tests in the CI.
  test/pjrt/test_runtime_gpu.py
  test/run_tests.sh
Labels: xla:gpu

#5404 Fix ReplicateShardedData for int type
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/runtime/computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client.cc
Labels: SPMD

#5402 Update the dynamo backend name to `openxla`
  docs/dynamo.md
  test/dynamo/test_dynamo.py
  test/dynamo/test_dynamo_graph_dump.py
  test/spmd/test_dynamo_spmd.py
  test/test_mp_all_gather.py
  test/test_mp_replication.py
Labels: dynamo

#5409 Partially replicate lower-rank tensors
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#5412 Revert "Partially replicate lower-rank tensors"
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#5416 Update cudnn to 8.7.0 to match torch
  infra/ansible/config/cuda_deps.yaml
Labels: DO_NOT_MERGE_YET, DO_NOT_REVIEW_YET

#5415 [SPMD] named partition spec support
  test/spmd/test_xla_sharding.py
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#5435 Remove TPU loading hack
  torch_xla/__init__.py
Labels: runtime

#5444 Update the random seed for every dynamo execution
  test/dynamo/test_dynamo.py
  torch_xla/core/dynamo_bridge.py
Labels: dynamo

#5447 parallelize SPMD inputhandler and GetDataShards
  torch_xla/csrc/runtime/computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/runtime/pjrt_computation_client.h
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_sharding_util.cpp
Labels: SPMD

#5427 Update XLA pin to 2023/08/08
  WORKSPACE
  bazel/rules_def.bzl
  setup.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/pjrt_computation_client.cc
Labels: tf-update

#5443 [GPU]Update README.md with wheel/docker for CUDA12.0 and deprecate CUDA11.7
  README.md
Labels: DO_NOT_MERGE_YET

#5470 bump the timeout for CI
  .github/workflows/_build.yml
  .github/workflows/build_and_test.yml
Labels: CI

#5469 [Dynamo][SPMD] Fix the input sharding for dynamo
  test/spmd/test_dynamo_spmd.py
  torch_xla/csrc/xla_sharding_util.cpp
Labels: SPMD, dynamo

#5475 Enabling sharding device data IR
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/tensor.cpp
Labels: SPMD

#5474 Introduce `torch_xla.runtime.use_spmd()`
  configuration.yaml
  test/spmd/test_dynamo_spmd.py
  test/spmd/test_spmd_graph_dump.py
  test/spmd/test_xla_distributed_checkpoint.py
  test/spmd/test_xla_sharding.py
  test/spmd/test_xla_spmd_python_api_interaction.py
  test/spmd/test_xla_virtual_device.py
  torch_xla/csrc/device.cpp
  torch_xla/csrc/device.h
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/runtime.py
Labels: SPMD

#5428 Enable PJRT C API Client and other changes for Neuron
  torch_xla/_internal/neuron.py
  torch_xla/_internal/pjrt.py
  torch_xla/core/xla_model.py
  torch_xla/csrc/device.cpp
  torch_xla/csrc/device.h
  torch_xla/csrc/runtime/env_vars.cc
  torch_xla/csrc/runtime/env_vars.h
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/tensor_util.cpp
  torch_xla/distributed/xla_backend.py
  torch_xla/experimental/pjrt_backend.py
Labels: runtime

#4819 [FSDP] Don't move full tensor to device in deferred_init
  torch_xla/distributed/fsdp/_init_utils.py
Labels: fsdp

#5489 Add ShardingSpec to XLATensor when it is created with a PJRTShardedData
  test/spmd/test_dynamo_spmd.py
  torch_xla/csrc/runtime/computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client.h
  torch_xla/csrc/tensor.cpp
Labels: SPMD

#5472 Add topological sorting to dynamo partitions
  test/dynamo/test_dynamo.py
  torch_xla/core/dynamo_bridge.py
Labels: SPMD

#5471 [original author: mrnikwaws] Neuron operator support
  codegen/xla_native_functions.yaml
  test/cpp/test_aten_xla_tensor_6.cpp
  torch_xla/csrc/ops/ops_lower_fn.cpp
  torch_xla/csrc/ops/ops_xla_shape_fn.cpp
  torch_xla/csrc/ops/ops_xla_shape_fn.h
Labels: op lowering

#5433 [SPMD] Make IR sharding custom sharding op
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/ops/custom_sharding.cpp
  torch_xla/csrc/ops/custom_sharding.h
  torch_xla/csrc/ops/xla_ops.cpp
  torch_xla/csrc/ops/xla_ops.h
  torch_xla/csrc/tensor_methods.cpp
  torch_xla/csrc/tensor_methods.h
  torch_xla/csrc/xla_lower_util.cpp
  torch_xla/csrc/xla_lower_util.h
Labels: SPMD

#5477 Support input sharding changed after first dynamo tracing
  test/spmd/test_dynamo_spmd.py
  torch_xla/core/dynamo_bridge.py
  torch_xla/csrc/init_python_bindings.cpp
Labels: SPMD, dynamo

#5488 Support tuples in partition spec
  test/spmd/test_xla_sharding.py
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#5499 Add explict error message when tensor is on CPU for dynamo backend
  test/dynamo/test_dynamo.py
  torch_xla/core/dynamo_bridge.py
Labels: dynamo

#5513 mark_sharding over a replicated tensor is allowed.
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/tensor.cpp
Labels: SPMD

#5490 Add PyTorch/XLA SPMD README.md
  docs/assets/mesh_spmd2.png
  docs/assets/spmd_mode.png
  docs/source/index.rst
  docs/spmd.md
Labels: SPMD

#5507 [OpenXLA] Add openxla.md
  docs/openxla.md
Labels: documentation, openxla
