Repository pytorch/xla, pull requests merged in 2023-09, with the labels that each got.

#5549 Make cpu tensor on XLA dynamo backend a warning instead of error
  test/dynamo/test_dynamo.py
  torch_xla/core/dynamo_bridge.py
Labels: dynamo

#5552 Move where clear pending IR is called to avoid crash
  test/dynamo/test_dynamo.py
  torch_xla/core/dynamo_bridge.py
  torch_xla/csrc/xla_graph_executor.cpp
Labels: dynamo

#5577 Cherry-pick Handle dynamo function without input (#5565)
  test/dynamo/test_dynamo.py
  torch_xla/core/dynamo_bridge.py
Labels: dynamo

#5576 Cherry-pick Make cpu tensor on XLA dynamo backend a warning instead of error (#5549)
  test/dynamo/test_dynamo.py
  torch_xla/core/dynamo_bridge.py
Labels: dynamo

#5582 Cherry-pick Move where clear pending IR is called to avoid crash (#5552)
  test/dynamo/test_dynamo.py
  torch_xla/core/dynamo_bridge.py
  torch_xla/csrc/xla_graph_executor.cpp
Labels: dynamo

#5572 Set PyTorch git revision to v2.1.0-rc5 for 2.1 releases
  infra/tpu-pytorch-releases/artifacts.auto.tfvars
Labels: 2.1 release

#5584 Update torch.compile usage int est
  test/dynamo/test_dynamo.py
Labels: dynamo

#5598 Allow running with bfloat16 on XLA:GPU autocast
  test/test_autocast.py
  torch_xla/amp/autocast_mode.py
Labels: perf

#5605 Clean up the redundant arg_min/max releated file
  torch_xla/csrc/ops/arg_max.cpp
  torch_xla/csrc/ops/arg_max.h
  torch_xla/csrc/ops/arg_min.cpp
  torch_xla/csrc/ops/arg_min.h
  torch_xla/csrc/tensor_methods.cpp
Labels: op lowering, codegen

#5546 Remove `on_device_shape` and `logical_on_device_shape`
  WORKSPACE
  openxla_patches/pjrt_c_api_dynamic_dimensions.diff
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/runtime/pjrt_computation_client.h
Labels: runtime

#5619 Fix log spam when libtpu is loaded
  WORKSPACE
  openxla_patches/pjrt_api_tsl_logging.diff
Labels: runtime

#5593 Cache OpSharding by mesh and partition_spec
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/ir.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/experimental/xla_sharding.py
  torch_xla/runtime.py
Labels: SPMD

#5627 Update the amp.md according to the latest changes
  docs/amp.md
Labels: documentation

#5626 Parallelize CI test runs
  .circleci/common.sh
  .github/workflows/_test.yml
  .github/workflows/build_and_test_xrt.yml
  test/cpp/run_tests.sh
  test/run_tests.sh
Labels: cleanup, CI

#5643 lower native_dropout
  codegen/xla_native_functions.yaml
  test/cpp/test_aten_xla_tensor_1.cpp
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/ops/native_dropout.cpp
  torch_xla/csrc/ops/native_dropout.h
  torch_xla/csrc/tensor_methods.cpp
  torch_xla/csrc/tensor_methods.h
  torch_xla/csrc/xla_lower_util.cpp
  torch_xla/csrc/xla_lower_util.h
Labels: op lowering

#5648 CI hotfix - Do not parallelize coverage runs
  .github/workflows/_coverage.yml
  .github/workflows/build_and_test.yml
Labels: CI
