Repository pytorch/xla, pull requests merged in 2023-05, with the labels that each got.

#4971 Wrap implicitly-replicated data in PjRtShardedData
  test/spmd/test_xla_sharding.py
  test/spmd/test_xla_virtual_device.py
  third_party/xla_client/pjrt_computation_client.cc
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/tensor.cpp
  torch_xla/csrc/tensor_util.cpp
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#4992 Add support for in place operation for dynamo bridge
  test/dynamo/test_dynamo.py
  torch_xla/core/dynamo_bridge.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/xla_graph_executor.cpp
Labels: dynamo

#5003 Expose SharingUtil functions to generate global index slices
  test/cpp/test_xla_sharding.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
Labels: SPMD

#5015 Apply sharding when creating tensors data in data loader
  test/spmd/test_xla_sharding.py
  torch_xla/core/xla_model.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#5016 Expose local shards as XLAShard
  test/cpp/test_xla_sharding.cpp
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/experimental/xla_sharded_tensor.py
Labels: SPMD

#5002 Enable SPMD + dynamo for inference
  test/run_tests.sh
  test/spmd/test_dynamo_spmd.py
  torch_xla/csrc/aten_xla_bridge.cpp
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/xla_graph_executor.cpp
Labels: SPMD, dynamo

#5024 Add executeReplicated metrics
  test/spmd/test_xla_sharding.py
  third_party/xla_client/pjrt_computation_client.cc
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/debug/metrics.py
Labels: SPMD

#5018 [SPMD] Output param sharding
  test/cpp/test_xla_sharding.cpp
  test/run_tests.sh
  test/spmd/test_xla_sharding.py
  third_party/xla_client/pjrt_computation_client.cc
  third_party/xla_client/pjrt_computation_client.h
  torch_xla/csrc/ops/device_data.h
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_graph_executor.h
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
Labels: SPMD

#5032 Place XLAShard data on CPU on creation
  test/spmd/test_xla_sharding.py
  torch_xla/experimental/xla_sharded_tensor.py
Labels: SPMD

#5036 update gpu doc to use SPMD and new docker
  docs/gpu.md
Labels: xla:gpu, documentation

#5023 Tf pin update
  WORKSPACE
  setup.py
  tf_patches/absl_statusor.diff
  tf_patches/cuda_graph.diff
  tf_patches/gpu_hlo_schedule.diff
  tf_patches/small_constants_optimizer.diff
  torch_xla/csrc/convolution.cpp
Labels: tf-update, libtpu-update

#5078 Move the Lock acquireing to the end of ExecuteComputation and Execute…
  third_party/xla_client/pjrt_computation_client.cc
Labels: runtime

#5083 [SPMD] Use consistent precision types in sharded data replication.
  third_party/xla_client/pjrt_computation_client.cc
Labels: SPMD
