Repository pytorch/xla, pull requests merged in 2023-07, with the labels that each got.

#5275 Delete unused .so file, and .lds file
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/openxla_exported_symbols.lds
  torch_xla/csrc/runtime/openxla_version_script.lds
Labels: DO_NOT_MERGE_YET, DO_NOT_REVIEW_YET

#5283 Add `runtime.host_index`
  test/pjrt/test_internal_tpu.py
  test/pjrt/test_runtime.py
  torch_xla/_internal/tpu.py
  torch_xla/runtime.py
Labels: runtime

#5284 [SPMD][Virtual Device]All tensors should be in SPMD:0 C++ device
  test/spmd/test_xla_sharding.py
  test/spmd/test_xla_virtual_device.py
  torch_xla/csrc/aten_xla_bridge.cpp
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/device.cpp
  torch_xla/csrc/device.h
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/tensor.cpp
  torch_xla/csrc/tensor_util.cpp
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/experimental/xla_sharded_tensor.py
Labels: SPMD

#5262 Make README more actionable
  README.md
  docs/gpu.md
Labels: documentation

#5293 XRT branch cherry-pick 07/10
  codegen/xla_native_functions.yaml
  infra/tpu-pytorch-releases/artifacts.auto.tfvars
  infra/tpu-pytorch-releases/artifacts_builds.tf
  scripts/run_bazel_coverage.sh
  setup.py
  test/cpp/run_tests.sh
  test/cpp/test_aten_xla_tensor_4.cpp
  test/ds/test_dynamic_shapes.py
  test/pjrt/test_internal_tpu.py
  test/pjrt/test_runtime.py
  test/pjrt/test_runtime_tpu.py
  test/spmd/test_xla_sharding.py
  test/spmd/test_xla_sharding_base.py
  test/spmd/test_xla_virtual_device.py
  test/stablehlo/test_stablehlo_dump.py
  test/stablehlo/test_stablehlo_inference.py
  torch_xla/__init__.py
  torch_xla/_internal/tpu.py
  torch_xla/core/xla_model.py
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/ir_dump_util.cpp
  torch_xla/csrc/ops/index_ops.cpp
  torch_xla/csrc/runtime/computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client.h
  torch_xla/csrc/runtime/xrt_computation_client.h
  torch_xla/csrc/tensor_impl.cpp
  torch_xla/csrc/tensor_methods.cpp
  torch_xla/csrc/tensor_methods.h
  torch_xla/csrc/tensor_util.h
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/experimental/stablehlo_saved_model.py
  torch_xla/experimental/xla_sharding.py
  torch_xla/runtime.py
Labels: xrt cherry pick

#5305 Supoort unordered sharding spec correctly
  test/spmd/test_xla_sharding.py
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#5313 Add docs for AMP
  docs/amp.md
Labels: documentation

#5297 Update gcc version in CI
  .circleci/build.sh
  .circleci/common.sh
  .circleci/test.sh
  WORKSPACE
  openxla_patches/absl_statusor.diff
Labels: CI

#5316 Support unordered sharding spec for partial replication
  test/spmd/test_xla_sharding.py
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#5321 Disable coverage for now
  .github/workflows/build_and_test.yml
Labels: CI

#5320 Enable Some input output aliasing under SPMD
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
Labels: SPMD

#5330 Sharding should be per output of IR Node, instead of per IR Node
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/ir.cpp
  torch_xla/csrc/ir.h
  torch_xla/csrc/ops/device_data.cpp
  torch_xla/csrc/tensor.cpp
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_sharding_util.cpp
Labels: SPMD

#5334 Jack cao g/xrt cherrypick 0721
  .github/workflows/_test.yml
  .github/workflows/build_and_test.yml
  README.md
  configuration.yaml
  docs/gpu.md
  test/spmd/test_train_spmd_linear_model.py
  test/spmd/test_xla_distributed_checkpoint.py
  test/spmd/test_xla_sharding.py
  test/spmd/test_xla_virtual_device.py
  test/stablehlo/test_stablehlo_dump.py
  test/test_operations.py
  torch_xla/core/xla_model.py
  torch_xla/csrc/aten_xla_bridge.cpp
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/device.cpp
  torch_xla/csrc/device.h
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/ir_dump_util.cpp
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/tensor.cpp
  torch_xla/csrc/tensor_impl.cpp
  torch_xla/csrc/tensor_methods.cpp
  torch_xla/csrc/tensor_util.cpp
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/experimental/_distributed_checkpoint_helpers.py
  torch_xla/experimental/distributed_checkpoint.py
  torch_xla/experimental/stablehlo_saved_model.py
  torch_xla/experimental/xla_sharded_tensor.py
  torch_xla/experimental/xla_sharding.py
Labels: xrt cherry pick

#5129 Update Python device API for SPMD
  test/pjrt/test_runtime_tpu.py
  test/spmd/test_spmd_xla_model_api.py
  test/spmd/test_train_spmd_imagenet.py
  test/spmd/test_train_spmd_linear_model.py
  test/spmd/test_xla_distributed_checkpoint.py
  test/spmd/test_xla_sharding.py
  test/spmd/test_xla_sharding_base.py
  test/tpu/xla_test_job.yaml
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/experimental/pjrt.py
  torch_xla/experimental/xla_sharding.py
  torch_xla/runtime.py
Labels: SPMD

#5339 Also dump output sharding on HLO file
  test/run_tests.sh
  test/spmd/test_spmd_graph_dump.py
  torch_xla/csrc/debug_util.cpp
  torch_xla/csrc/debug_util.h
  torch_xla/csrc/xla_graph_executor.cpp
Labels: SPMD

#5337 fix amp dtype setting for GPU
  torch_xla/amp/autocast_mode.py
Labels: xla:gpu

#5349 Add python test for SPMD+Runtime Python API
  test/run_tests.sh
  test/spmd/test_xla_spmd_python_api_interaction.py
  test/tpu/xla_test_job.yaml
Labels: SPMD

#5352 Check the actual device instead of query env var for virtual device
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/tensor.cpp
  torch_xla/csrc/tensor_util.cpp
  torch_xla/csrc/xla_graph_executor.cpp
Labels: SPMD

#5360 Add a script for running stablehlo tests.
  .kokoro/build.sh
  .kokoro/build_and_run_stablehlo_tests.sh
  .kokoro/common.sh
  .kokoro/presubmit.cfg
Labels: kokoro:run

#5361 [Dynamo|TPU] Skip `DynamoInferenceBasicTest.test_resnet18` on TPU
  test/dynamo/test_dynamo.py
Labels: DO_NOT_MERGE_YET, DO_NOT_REVIEW_YET

#5374 Fix ReplicateShardedData for int type
  test/spmd/test_xla_sharding.py
  torch_xla/csrc/runtime/pjrt_computation_client.cc
Labels: SPMD
