Repository pytorch/xla, pull requests merged in 2023-11, with the labels that each got.

#5752 Transfer data directly to the device
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/runtime/pjrt_computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client_test.cc
  torch_xla/csrc/runtime/tensor_source.h
  torch_xla/csrc/tensor_util.cpp
  torch_xla/csrc/xla_sharding_util.cpp
Labels: runtime

#5751 fix squeeze op lowering issue when dim is not in sorted order
  test/cpp/test_aten_xla_tensor_4.cpp
  torch_xla/csrc/data_ops.cpp
  torch_xla/csrc/data_ops.h
  torch_xla/csrc/tensor_methods.cpp
Labels: op lowering

#5712 Implement mark_sharding as a custom op to support dynamo spmd activation sharding
  test/spmd/test_dynamo_spmd.py
  torch_xla/csrc/aten_autograd_ops.cpp
  torch_xla/csrc/aten_autograd_ops.h
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/experimental/xla_sharding.py
Labels: SPMD, dynamo

#5785 Remove some unused code from `csrc/runtime`
  torch_xla/csrc/BUILD
  torch_xla/csrc/debug_util.cpp
  torch_xla/csrc/layout_manager.cpp
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/async_task.h
  torch_xla/csrc/runtime/async_task_test.cc
  torch_xla/csrc/runtime/nccl_distributed.cc
  torch_xla/csrc/runtime/nccl_distributed.h
  torch_xla/csrc/runtime/types.h
  torch_xla/csrc/runtime/unique.h
  torch_xla/csrc/runtime/util.cc
  torch_xla/csrc/runtime/util.h
  torch_xla/csrc/runtime/util_test.cc
  torch_xla/csrc/runtime/xla_util.cc
  torch_xla/csrc/runtime/xla_util.h
  torch_xla/csrc/tensor.cpp
  torch_xla/csrc/tensor_util.cpp
  torch_xla/csrc/torch_util.cpp
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_graph_executor.h
Labels: runtime

#5776 [SPMD] suppor DTensor API integration
  docs/spmd.md
  test/spmd/test_dtensor_integration.py
  test/spmd/test_dynamo_spmd.py
  test/spmd/test_spmd_graph_dump.py
  test/spmd/test_train_spmd_imagenet.py
  test/spmd/test_train_spmd_linear_model.py
  test/spmd/test_xla_distributed_checkpoint.py
  test/spmd/test_xla_sharding.py
  test/spmd/test_xla_sharding_base.py
  test/spmd/test_xla_sharding_hlo.py
  test/spmd/test_xla_virtual_device.py
  test/test_operations.py
  torch_xla/_internal/tpu.py
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/distributed/spmd/__init__.py
  torch_xla/distributed/spmd/api.py
  torch_xla/distributed/spmd/xla_sharded_tensor.py
  torch_xla/distributed/spmd/xla_sharding.py
  torch_xla/experimental/distributed_checkpoint/_helpers.py
  torch_xla/experimental/distributed_checkpoint/planners.py
  torch_xla/experimental/xla_sharded_tensor.py
  torch_xla/experimental/xla_sharding.py
Labels: SPMD

#5772 Transfer data directly to the device
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/runtime/pjrt_computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client_test.cc
  torch_xla/csrc/runtime/tensor_source.h
  torch_xla/csrc/tensor_util.cpp
  torch_xla/csrc/tensor_util.h
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_sharding_util.cpp
Labels: runtime

#5794 Don't set $TPU_LIBRARY_PATH during import
  torch_xla/__init__.py
  torch_xla/csrc/runtime/env_vars.cc
  torch_xla/csrc/runtime/env_vars.h
  torch_xla/csrc/runtime/pjrt_computation_client.cc
Labels: runtime

#5799 Use upstream XLA concurrency utilities
  test/cpp/BUILD
  test/cpp/test_replication.cpp
  torch_xla/csrc/BUILD
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/multi_wait.cc
  torch_xla/csrc/runtime/multi_wait.h
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/runtime/thread_pool.cc
  torch_xla/csrc/runtime/thread_pool.h
  torch_xla/csrc/tensor.cpp
  torch_xla/csrc/tensor_util.cpp
  torch_xla/csrc/thread_pool.cc
  torch_xla/csrc/thread_pool.h
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_graph_executor.h
  torch_xla/csrc/xla_sharding_util.cpp
Labels: runtime

#5807 [SPMD] fix bug with XLAShardedTensor.__repr__
  test/spmd/test_xla_sharding.py
  torch_xla/distributed/spmd/xla_sharded_tensor.py
Labels: SPMD

#5811 Re-implement `ComputationClient::WaitDeviceOps`
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/computation_client.h
  torch_xla/csrc/runtime/operation_manager.cc
  torch_xla/csrc/runtime/operation_manager.h
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/runtime/pjrt_computation_client.h
Labels: runtime

#5805 Refactor Dynamo (custom op) integration code
  test/spmd/test_dynamo_spmd.py
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
  torch_xla/distributed/spmd/xla_sharding.py
Labels: SPMD, dynamo

#5830 Copy input tensors before async transfer
  torch_xla/csrc/runtime/tensor_source.h
Labels: runtime

#5914 Fix `as_strided` for inputs smaller than the arguments specification.
  test/test_operations.py
  torch_xla/csrc/aten_xla_bridge.cpp
  torch_xla/csrc/aten_xla_bridge.h
  torch_xla/csrc/aten_xla_type.cpp
  torch_xla/csrc/tensor.cpp
  torch_xla/csrc/tensor.h
Labels: xla:gpu

#5763 Lower quant/dequant torch op to StableHLO
  WORKSPACE
  openxla_patches/quant_dequant_converter.diff
  openxla_patches/stablehlo_quant_seralization.diff
  test/stablehlo/test_pt2e_qdq.py
  torch_xla/csrc/BUILD
  torch_xla/csrc/init_python_bindings.cpp
  torch_xla/csrc/ir_dump_util.cpp
  torch_xla/csrc/ops/dequant_tensor.cpp
  torch_xla/csrc/ops/dequant_tensor.h
  torch_xla/csrc/ops/quant_tensor.cpp
  torch_xla/csrc/ops/quant_tensor.h
  torch_xla/csrc/ops/xla_ops.cpp
  torch_xla/csrc/ops/xla_ops.h
  torch_xla/csrc/quant_util.cpp
  torch_xla/csrc/quant_util.h
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/runtime/stablehlo_helper.cc
  torch_xla/csrc/runtime/stablehlo_helper.h
  torch_xla/csrc/tensor_methods.cpp
  torch_xla/csrc/tensor_methods.h
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/experimental/quantized.py
  torch_xla/stablehlo.py
Labels: stablehlo

#5933 Truncate python stack when outputting frame that cause the graph executation
  test/debug_tool/test_mp_pt_xla_debug.py
  test/debug_tool/test_pt_xla_debug.py
  test/run_tests.sh
  torch_xla/csrc/debug_util.cpp
Labels: usability

#5737 Refactor ExecuteReplicated to operate on sharded data directly
  test/cpp/test_xla_sharding.cpp
  torch_xla/csrc/runtime/BUILD
  torch_xla/csrc/runtime/computation_client.h
  torch_xla/csrc/runtime/pjrt_computation_client.cc
  torch_xla/csrc/runtime/pjrt_computation_client.h
  torch_xla/csrc/xla_graph_executor.cpp
  torch_xla/csrc/xla_sharding_util.cpp
  torch_xla/csrc/xla_sharding_util.h
Labels: runtime

#5947 Add graph hash and num input/output to PT_XLA_DEBUG
  test/debug_tool/test_pt_xla_debug.py
  torch_xla/csrc/debug_util.cpp
  torch_xla/csrc/debug_util.h
  torch_xla/csrc/xla_graph_executor.cpp
Labels: usability
