Repository pytorch/xla, pull requests merged in 2025-02, with the labels that each got.

#8659 Add ragged paged attention
  test/test_multi_queries_paged_attention_kernel.py
  test/test_ragged_paged_attention_kernel.py
  test/tpu/run_tests.sh
  torch_xla/experimental/pallas_kernels/ragged_paged_attention_kernel.py
Labels: pallas

#8692 Integrate ragged paged attn to pytorch/xla
  test/test_pallas.py
  torch_xla/experimental/custom_kernel.py
Labels: pallas

#8593 Fix CUDA plugin CI.
  .github/workflows/_build_torch_with_cuda.yml
  .github/workflows/_test_requiring_torch_cuda.yml
  .github/workflows/build_and_test.yml
  .github/workflows/setup/action.yml
  infra/ansible/config/vars.yaml
  test/test_triton.py
  test/torch_distributed/test_ddp.py
  torch_xla/test/test_utils.py
Labels: xla:gpu

#8718 Bump CUDNN version in docker image.
  infra/ansible/config/cuda_deps.yaml
Labels: dependencies, CI
